.inicio,
.sobre,
.resumo,
.projetos,
.contato {
  padding: 5.938rem 3rem 3rem 25rem;
}

.intro-botao {
  display: flex;
  align-items: center;
  gap: .625rem;
  width: fit-content;
  padding: 0 .75rem;
  margin-bottom: 5rem;
  border: 1px solid var(--cor-9);
  border-radius: 10rem;
}

.intro-botao svg {
  width: 15px;
  fill: var(--cor-0);
}

.intro-botao p {
  font-size: .75rem;
  text-transform: uppercase;
}

.inicio-head {
  margin-bottom: 12rem;
}

.inicio-head h1 {
  font-size: 4.875rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.inicio-head h1 span {
  color: var(--cor-p0);
}

.inicio-head p {
  max-width: 550px;
  color: var(--cor-7);
  line-height: 1.5;
}

.inicio-head p span {
  font-weight: 500;
  color: var(--cor-2);
}

.inicio-exp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .625rem 3rem;
  max-width: 100px;
}

.inicio-exp span {
  font-size: 4.5rem;
  font-weight: 300;
  color: var(--cor-p0);
}

.inicio-exp p {
  font-size: .875rem;
  line-height: 1.7;
  text-transform: uppercase;
  color: var(--cor-7);
}

.sobre h2,
.resumo h2,
.projetos h2,
.contato h2 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.25;
  padding-bottom: 2.5rem;
}

.sobre h2 span,
.resumo h2 span,
.projetos h2 span,
.contato h2 span {
  color: var(--cor-p0);
}

.sobre > p {
  font-size: 1rem;
  max-width: 730px;
  line-height: 1.87;
  color: var(--cor-7);
}

.resumo-formacao {
  margin: 0 0 3rem 0;
  padding-left: 3rem;
  border-left: 1px solid var(--cor-7);
  position: relative;
}

.resumo-formacao::before {
  content: '';
  left: -.33rem;
  width: 10px;
  height: 10px;
  border-radius: 10rem;
  background: var(--cor-7);
  position: absolute;
}

.resumo-exp {
  margin: 0 0 3rem 0;
  padding-left: 3rem;
  border-left: 1px solid var(--cor-7);
  position: relative;
}

.resumo-exp::before {
  content: '';
  left: -.33rem;
  width: 10px;
  height: 10px;
  border-radius: 10rem;
  background: var(--cor-7);
  position: absolute;
}

.resumo-formacao span,
.resumo-exp span {
  display: block;
  color: var(--cor-7);
  padding-bottom: 1.5rem;
}

.resumo-formacao div h3,
.resumo-exp div h3 {
  font-size: 1.8rem;
  font-weight: 200;
  padding-bottom: .5rem;
}

.resumo-formacao div p,
.resumo-exp div p {
  color: var(--cor-7);
  font-size: .875rem;
  padding-bottom: .5rem;
}

.resumo-formacao:hover span,
.resumo-exp:hover span {
  color: var(--cor-p0);
}

.projetos-animais img,
.projetos-ping-pong img {
  width: 700px;
  height: 400px;
  border-radius: 1.875rem;
  box-shadow: -1px 1px 15px rgba(0, 0, 0, 1);
  margin-bottom: 1rem;
}

.projetos a {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 2rem;
  position: relative;
  
}

.projetos .projetos-animais a:hover::after,
.projetos .projetos-ping-pong a:hover::after {
  content: '';
  position: absolute;
  left: 4%;
  bottom: 0;
  width: 92%;
  height: 1px;
  background: var(--cor-0);
  animation: onIn .3s forwards;
}

.contato h3 {
  font-size: 1.4rem;
  font-weight: 300;
  padding-bottom: 5rem;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formulario label {
  display: block;
  font-size: .9rem;
  padding-bottom: .625rem;
}

.formulario span {
  color: red;
}

.formulario input{
  width: 300px;
  padding: .675rem 0;
  border: none;
  margin-bottom: 3rem;
  background: transparent;
  color: var(--cor-0);
}

.formulario textarea{
  background: transparent;
  border: none;
  margin-bottom: 3rem;
  color: var(--cor-0);
}

.formulario input:focus,
.formulario textarea:focus {
  outline: none;
}

.formulario div:nth-child(4) {
  grid-column: 1 / span 2;
}

.formulario button {
  text-transform: uppercase;
  width: max-content;
  padding: 1.1rem 5rem;
  border: 2px solid var(--cor-p1);
  border-radius: 5rem;
  color: var(--cor-p6);
  background: var(--cor-p1);
  transition: .2s;
  cursor: pointer;
}

.formulario button:hover {
  border: 2px solid var(--cor-p0);
  background: transparent;
  color: var(--cor-p0);
}